* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 50px auto;
   justify-content:center;
   align-items: center;
}

.calculator-body{
    width: 500px;
    font-size: 40px;
}

.row {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.screen{
    display: block;
    background-color: black;
    color:aliceblue;
    text-align: right;
}

.cal-buttons-section {
    border: 2px solid black;
}


.cal-buttons {
width: 100%;
height: 100px;
font-weight: bold;
font-size: 60px;
}
